@use '../util' as u;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-text);
	background-color: var(--background-color);
	color: var(--text-dark);
}

input,
button {
	font-family: var(--font-heading);
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.header {
	background-color: var(--accurate);
	height: u.rem(100);
}

.brandlogo {
	position: relative;
	z-index: 999;
	width: u.rem(175);
	height: u.rem(150);
	box-shadow: 0px 6px 6px var(--black);
}

.vintage {
	height: 100%;
	overflow: hidden;
	width: 50%;
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		left: 0;
		width: auto;
		height: auto;
		background-color: #fff;
		padding: 0.5rem;
		border: 1px solid;
	}
}