:root {
  --accurate: hsl(85, 54%, 51%); // #8DC63F
  --primaryGreenMed: hsl(85, 52%, 41%); // #719E32
  --primaryGreenDark: hsl(85, 52%, 31%); // #557726
  --primaryGrey: hsl(220, 2%, 35%); // #58595B 
  --primaryLtGrey: hsl(210, 3%, 75%); // #BCBEC0 
  --ltGrey: hsl(0, 0%, 62%); // #9F9F9F
  --medGrey: hsl(0, 0%, 44%); // #6F6F6F
  --dkGrey: hsl(0, 0%, 25%); // #3F3F3F
  --black:hsl(0, 0%, 6%); // #0F0F0F
  --white: hsl(240, 100%, 99%); // #F8F8FF
}