@use '../util' as u;

.footer {
  background-color: var(--accurate);
  margin-inline: auto;
  text-align: center;

  h2 {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-size: clamp(2rem, 1.54rem + 1.93vw, 3rem);
  }

  &__wrapper {

  }
}