@use '../util' as u;

.wrapper {
	width: min(100% - u.rem(48), u.rem(1200));
	margin-inline: auto;
	padding-block: 60px;

	// @include u.breakpoint(large) {
	// 	padding-block: 60px;
	// }

	&_brand {
		padding-top: 0;
	}

	&__text {
		max-width: u.rem(700);
		width: u.rem(600);
		margin-inline: auto;

		@include u.breakpoint-down(small) {
			width: 100%;
		}

		h2 {
			font-family: var(--font-heading);
			font-size: u.rem(28);
			font-size: clamp(u.rem(28), u.rem(26.08) + 0.48vw, u.rem(32));
			margin-bottom: u.rem(20);
			line-height: u.rem(35.2);
		}

		h3 {
			font-family: var(--font-heading);
			font-size: u.rem(24);
			margin-bottom: 0;
		}
	}
}

.fb-wrapper {
	display: grid;
	grid-template-columns: [fb-start] 1fr [content-start] min(100% - u.rem(48), u.rem(1200)) [content-end] 1fr [fb-end];

	> * {
		grid-row: 1 / 2;
	}

	&__full {
		grid-column: fb-start / fb-end;
		align-self: end;
	}
	&__content {
		grid-column: content-start / content-end;
	}
}